[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
	branch = xcode-6.1
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
